$s-screen:480px; //适配移动端
$m-screen:700px; //适配ipad
$b-screen:800px; //适配PC
.blog-detail,.widgets{
  float:left;
  background:#fff;
}
.blog-detail{
  padding:1.5em 4%;
  border: 1px solid lightblue;
  border-radius: 10px;
}
 $l:100%;
.blog-detail{
  width:$l
}
.widgets{
  width: 100-$l
}
